.link {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.2s ease;
}

.link-primary {
  color: $color-white;
}

.link-grey {
  color: $color-grey-dark;
}

.link:hover {
  color: $color-orange;
}
