header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $width-container;
  height: 108px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #979797;

  nav {
    .link ~ .link {
      margin-left: 35px;
    }
  }

  .nav-cart {
    height: 20px;
  }
}
