$width-container: 1110px;

$color-orange: #d87d4a;
$color-orange-light: #fbaf85;
$color-black: #000000;
$color-black-light: #101010;
$color-grey: #f1f1f1;
$color-grey-light: #fafafa;
$color-white: #ffffff;
