$width-container: 1110px;

$border-radius: 8px;

$color-orange: #d87d4a;
$color-orange-light: #fbaf85;
$color-orange-dark: #cf6f38;
$color-black: #101010;
$color-black-light: #2c2c2c;
$color-grey: #f1f1f1;
$color-grey-light: #fafafa;
$color-grey-dark: #818181;
$color-white: #ffffff;
